/* 상단 고정 */
.fixed_header_nav {
  position: fixed;
  width: 100%;
  background-color: #1c1c1e;
  color: #ffffff;
  z-index: 10;
}

/* 상단 Title */
.portfolio_title {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0px;
}

.name {
  font-size: 32px;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  color: #c7c5c5;
}

/* 상단 Nav */
nav {
  padding: 25px 0px;
}

nav ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

nav ul li {
  width: 100px;
  font-size: 17px;
}

nav ul li:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Header, Footer 사이 body  */
.content {
  padding-top: 259px;
  background-color: #e5e5e5;
}

.content section {
  padding: 50px 0px;
}

.content section:first-child {
  padding-top: 100px;
}

.content section:last-child {
  padding-bottom: 100px;
}

/* Section 하위 Wrapper */
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 60px 40px;
  color: #1c1c1e;
  background-color: #ffffff;
  border-radius: 10px;
}

.wrapper h3 {
  font-size: 25px;
  font-family: 900;
  margin-bottom: 20px;
}

.wrapper p {
  font-size: 17px;
  line-height: 25px;
}

/* Portfolio Menu */
.portfolio_menu ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.portfolio_menu a {
  width: 100%;
  margin-right: 40px;
}

.portfolio_menu a:last-child {
  margin-right: 0px;
}

.portfolio_menu a li {
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: bold;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #c7c5c5;
}

.portfolio_menu a li:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.portfolio_menu h4 {
  font-size: 22px;
  margin-bottom: 50px;
}

.portfolio_menu p {
  font-size: 14px;
  color: #666666;
}

/* Footer */
footer {
  padding: 80px 0px;
  background-color: #1c1c1e;
  color: #ffffff;
}

.footer_content {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

.footer_content h1 {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer_content ul li {
  line-height: 30px;
}
